beautifulsoup4>=4.12.2
requests>=2.31.0
trafilatura>=1.6.2
ollama>=0.1.6
urllib3>=2.0.7
lxml>=4.9.3
html5lib>=1.1
certifi>=2023.7.22
charset-normalizer>=3.3.2
soupsieve>=2.5
idna>=3.4
justext>=3.0.0
courlan>=0.9.3
dateparser>=1.1.8
htmldate>=1.5.2

